.about-me {
    padding: {
        top: 236px;
        bottom: 233px
    }
}

.about-me__headline {
    margin-bottom: 132px;
}

.about-me__paragraph {
    margin-bottom: 7%;
}
.about-me__paragraph:last-child {
    margin: 0
}

.about-me__button {
    margin-top: 15%;
}