.advantages {
    background-color: #EEEEEE;
    padding: {
        top: 171px;
        bottom: 250px
    }
}

.advantages__icon {
    margin: auto auto;
}


.advantages__paragraph {
    margin-top: 30px;
    width: 100%;

}