.contact {
    background-color: #EEEEEE;
    padding-top: 110px;
    padding-bottom: 60px;
    margin-top: 110px;
}

.contact__headline {
    margin-bottom: 209px;
}

.contact__input {
    margin-bottom: 36px;
}

.contact__social {
    margin-top: 20px;
    width: 100%;
    transition: all 0.5s ease-in-out;
        display: block;
        cursor: pointer;
        > img {
            width: 8%;
            float: left;
            margin-right: 10px;
            margin-top: -.7%;
        &:hover {
        transform: scale(1.2, 1.2);
    }};
}
