.contact {
    background-color: #EEEEEE;
    padding-top: 110px;
    padding-bottom: 60px;
    margin-top: 110px;
}

.contact__headline {
    margin-bottom: 209px;
}

.contact__input {
    margin-bottom: 36px;
}


.contact__paragraph {
    font-size: 18px/$size*1rem;
    margin-bottom: 53px;
}

.contact__social {
    align-items: center;
    transition: all 0.5s ease-in-out;
    >a {
        display: block;
        width: 20%;
        cursor: pointer;
        > img {
            width: 100%;
        }
        &:hover {
        transform: scale(1.2, 1.2);
    }};
}
