.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form__data {
    display: block;
    width: auto;
    padding: {
        top: 21px;
        bottom: 21px;
    };
    @media screen and (max-width: 768px){
        padding: {
            top: 10.5px;
            bottom: 10.5px;
        };
    }
    outline: none;
    border: 1px solid #878787;
    border-radius: 2px;
    margin-bottom: 36px;
    color: #222222;
    font-family: Roboto LIght;
    font-size: 18/16*1rem;
    padding-left: 40/527*100%;
    &:last-child {
        margin: 0;
    }
    &::placeholder {
        color: #222222;
        font-family: Roboto LIght;
        font-size: 18/16*1rem;
    }
    @media screen and (max-width: 425px){
        font-size: 18/16*1.5rem;
        &::placeholder {
            font-size: 18/16*1.5rem;
        }
    }
}

.form__text {
    @media screen and (max-width: 768px){
        padding: {
            top: 10.5px;
            bottom: 10.5px;
        };
        height: 212.5px;
        min-height: 212.5px;
        max-height: 212.5px;
    }
    box-sizing: content-box;
    display: block;
    max-width: 100% - 40/527*100%*2.08;
    min-width: 100% - 40/527*100%*2.08; 
    min-height: 283px;
    max-height: 283px;
    padding-top: 30px;
    padding-right: 40/527*100%;
}