.header {
    background-image: url('../fotos/banner.jpeg');
    background-color: #00000057;
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 83px;
    padding-bottom: 84px;
    .section-logo {
        width: 42%;
    }
    a + a + a {
        margin-top: 40px;
    }
}

.header__headline {
    margin-bottom: 59px;
    justify-content: center;
}

.header__sub-headline {
    margin-bottom: 87px;
    justify-content: center;
    font-size: 1.75rem;
}
