.my-portfolio {
    padding-top: 106px;
    padding-bottom: 110px;;
}

.my-portflio__headline {
    margin-bottom: 212px; 
}

.my-portfolio__content {
    margin-top: 20px;
    margin-bottom: 57px;
}
