.my-skills {
    background-color: #EEEEEE;
    @media screen and (min-width: 1024px) {
        padding: {
            left: 264/2022 * 100% / 2;
            right: 264/2022 * 100% / 2;
        }
    };
    @media screen and (min-width: 1440px) {
        padding: {
            left: 264/2022 * 100%;
            right: 264/2022 * 100%;
        }
    };
    @media screen and (min-width: 2560px) {
        padding: {
            left: 264/2022 * 100% * 1.5;
            right: 264/2022 * 100% * 1.5;
        }
    };

 padding: {
        bottom: 201px;
        top: 188px;
        left: 264/2022* 100% / 4;
        right: 264/2022* 100% / 4;
    }
}

.my-skills__values {
    margin-top: 253px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 425px) {
        flex-direction: column;
        align-items: center;
    };
}
.my-skills__value {
    width: 403 / (2022 - 527 * 2) * 100%;
    @media screen and (max-width: 425px) {
        width: 100%;
        margin-bottom: 80px;
        &:last-child {
            margin: 0
        }
    };
}
.my-skills__values>div+div+div {
    margin-top: 54px
}

.my-skills__skill-name {
    font-family: Helvetica Bold;
}

.my-skills__progress-bar {
    width: 100%;
    height: 21px;
    margin-top: 25px;
    position: relative;
    &:before {
        position: absolute;
        left: calc(100% - 40px);
        top: -260%;
        font-size: 24/16*1rem;
        font-family: Helvetica Light;
        color: #777777;
        @media screen and (max-width: 425px) {
            font-size: 24/16*1.5rem;
        };
    }
}

.my-skills__progress-bar_html-css {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 75%, #F0F0F0 75%, #F0F0F0 100%);
    &:before {
        content: '75%';
    }
}
.my-skills__progress-bar_vue {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 60%, #F0F0F0 60%, #F0F0F0 100%);
    &:before {
        content: '60%';
    }
}
.my-skills__progress-bar_git {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 50%, #F0F0F0 50%, #F0F0F0 100%);
    &:before {
        content: '50%';
    }
}
.my-skills__progress-bar_js {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 70%, #F0F0F0 70%, #F0F0F0 100%);
    &:before {
        content: '70%';
    }
}
.my-skills__progress-bar_webpack {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 40%, #F0F0F0 40%, #F0F0F0 100%);
    &:before {
        content: '40%';
    }
}