.my-skills {
    background-color: #EEEEEE;
    padding: {
            bottom: 201px;
            top: 188px;
        }
}

.my-skills__headline {
    margin-bottom: 253px;
}
.my-skills>section>div+div+div {
    margin-top: 54px;
}

.my-skills__skill-name {
    font-family: Helvetica Bold;
}

.my-skills__progress-bar {
    width: 100%;
    height: 21px;
    margin-top: 25px;
    position: relative;
    &:before {
        position: absolute;
        left: calc(100% - 40px);
        top: -260%;
        font-size: 24/16*1rem;
        font-family: Helvetica Light;
        color: #777777;
    }
}

.my-skills__progress-bar_html-css {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 75%, #F0F0F0 75%, #F0F0F0 100%);
    &:before {
        content: '75%';
    }
}
.my-skills__progress-bar_vue {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 60%, #F0F0F0 60%, #F0F0F0 100%);
    &:before {
        content: '60%';
    }
}
.my-skills__progress-bar_git {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 50%, #F0F0F0 50%, #F0F0F0 100%);
    &:before {
        content: '50%';
    }
}
.my-skills__progress-bar_js {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 70%, #F0F0F0 70%, #F0F0F0 100%);
    &:before {
        content: '70%';
    }
}
.my-skills__progress-bar_webpack {
    background: linear-gradient(to right, #9F449B 0%, #9F449B 40%, #F0F0F0 40%, #F0F0F0 100%);
    &:before {
        content: '40%';
    }
}