.nav {
    transition: all 1s ease-in-out;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.97;
    background-color: #ffffff;
}

.nav__link {
    a {
        transition: all .5s ease-out;
        font-family: Roboto Light;
        color: #676767;
        font-size: 18px / 16px * 1rem;
        text-decoration: none;
        &:hover {
            color: #9F449B;
        }
    }
}


.nav__links {
    overflow: hidden;
    margin-top: 0.5%;
    @media screen and (max-width: 425px) {
        transition: height 0.5s ease-out;
        background-color: #ffffff;
        width: 100%;
        height: 0px;
        .nav__link {
            &:first-child {
                margin-top: 30px;
            }
            border-bottom: 2px solid #949494;
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }

    }
}

.nav__links_active {
    height: 250px;
    @media screen and (max-width: 375px) {
        height: 240px;
    }
}

.nav__mobile-menu {
    display: none;
    @media screen and (max-width: 425px) {
        display: block;
    };
    width: 10%;
    padding-bottom: 7%;
    background-image: url('../../icons/menu/hide.svg');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
.nav__mobile-menu_active {
    filter: brightness(1);
    background-image: url('../../icons/menu/active.svg');

}

.nav_fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 10px 0px 50px 5px #949494;

    padding-top: 30px;
    padding-bottom: 30px;
}
