.portfolio-card {
    text-decoration: none;
    cursor: pointer;
    transform-origin: center;
    > * {
        width: 100%;
    }
}

.portfolio-card__banner {
    margin-bottom: 25px;
    margin-top: 31px;
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
    transition: all .5s ease-in-out;
    @media screen and (min-width: 1025px) {
        &:hover {
            transform: scale(170%);
            box-shadow: 5px 5px 15px 1px rgb(117, 117, 117);
         };
    }
}

.portfolio-card__tag {
    color: #808080;
    margin-top: 10px;
}

.sites, .apps {
    transition-duration: 1s;
}