.portfolio-card {
    width: 30%;
    overflow: hidden;
    cursor: pointer;
    transform-origin: center;
    transition: all .5s ease-in-out;
    &:hover {
       transform: translateY(2%);
    };
    @media screen and (max-width: 425px) {
        width: 100%;
    }
}

.portfolio-card__banner {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 31px;
}

.portfolio-card__tag {
    color: #808080;
    margin-top: 10px;
}

.sites, .apps {
    transition-duration: 1s;
}