.section-logo {
    max-width: 168px;
    padding-top: 45px;
    box-sizing: border-box;
    padding-bottom: 36px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    display: block;
    text-decoration: none;
    @media screen and (max-width: 375px) {
        padding-top: 25px;
        padding-bottom: 16px;
    }
};

.section-logo_focused{
    cursor: pointer;
    &:hover {
    background-color:  #9F449B;
    background-size: contain;
    background-position: center;
}
}

.section-logo__headline {
    color: #ffffff;
    font-family: Roboto Light;
    font-weight: normal;
    font-size: 18/16*1rem;
    @media screen and (max-width: 425px){
        font-size: 18/16*3rem;
    };
    @media screen and (max-width: 768px){
        font-size: 18/16*1.5rem;
    };

    text-align: center;
}
.section-logo__icon {
    display: block;
    margin: auto auto;
    margin-bottom: 23px;
}
