* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

$size: 16px;

html {
    font-size: 14px;
    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
    @media screen and (min-width: 2560px) {
        font-size: 22px;
    }
    @media screen and (min-width: 4096px) {
        font-size: 28px;
    }
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf')
};
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf')
};
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/Helvetica/Helvetica_Bold.otf')
}
@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica/HelveticaNeueLTStd\ Lt.otf')
}

@import './modules/columns.scss';

@import './modules/headline.scss';
@import './modules/paragraph.scss';
@import './modules/section-logo.scss';
@import './modules/button.scss';
@import './modules/input.scss';
@import './modules/portfolio-card.scss';


@import './modules/about-me.scss';

@import './modules/header.scss';
@import './modules/nav.scss';
@import './modules/advantages.scss';


@import './modules/my-skills.scss';
@import './modules/my-portfolio.scss';

@import './modules/contact.scss';

@import './modules/footer.scss';
