* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 8px;
    @media screen and (min-width: 375px) {
        font-size: 10px;
    }
    @media screen and (min-width: 768px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
}


@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf')
};
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf')
};
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/Helvetica/Helvetica_Bold.otf')
}
@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica/HelveticaNeueLTStd\ Lt.otf')
}

@import './modules/headline.scss';
@import './modules/paragraph.scss';
@import './modules/header.scss';
@import './modules/section-logo.scss';
@import './modules/nav.scss';
@import './modules/advantages.scss';
@import './modules/about-me.scss';
@import './modules/button.scss';
@import './modules/my-skills.scss';
@import './modules/my-portfolio.scss';
@import './modules/portfolio-card.scss';
@import './modules/contact.scss';
@import './modules/form.scss';
@import './modules/footer.scss';
